# `production` / `development`
ENV=

# Default: `8000` & HuggingFace Space: `7860`
PORT=

# Rembg Model Name
MODEL_NAME=

# Cache
REDIS_URL=

# Uploadthing
UPLOADTHING_SECRET=

# Web App
WEB_APP_URL=

# Worker Secret
WORKER_SECRET=
