# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# DB
DATABASE_URL=

# Cache
REDIS_URL=

# UploadThing
UPLOADTHING_SECRET=

# Worker Secret
WORKER_SECRET=
